a{
    text-decoration: none;
    color: #222 !important; 
    
}

.social {
    position: relative;
    margin: 0 auto;
    padding: 0 25px;
    right: 400%;
    left: 40%;
}

.link-social {
    font-size: 1.9em;
    color: #222; 
}

.selected {    
    background-color: #222;
    color:white !important;
}

a:hover, a:active {
    background-color: #222;
    color:white !important;
}

.prjlink{
    text-shadow: aquamarine;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: black 1px solid;
    font-weight: bold;
    padding: 10px;
    margin-left: 0px;
}

.demo-img{
    width: 25rem;
    display: block;
}

.projecteven{
    /**placeholder*/
}

.projectodd{
    background-color:#F8F8F8;
}



.cform{
    width: 60%;
}

.cinfo{
    width: 35%;
}

.encap{
    margin-left: 10%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
}

